@import 'tailwindcss';

/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/* @plugin "daisyui"; */


@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

/* Class based dark mode */
/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @custom-variant dark (&:where([data-theme=night], [data-theme=night] *)); */



.input {
  &:focus, &:focus-within {
    /* --input-color: var(--color-base-content); */
    box-shadow: none;
    outline: none;
    outline-offset: none;
    isolation: unset;
    border: 2px solid var(--color-base-content);
  }
}